body {
    color: rgb(200, 200, 200);
    background: rgb(40, 40, 40);
    font-family: arial, sans-serif;
}

.nav {
    width: 100%;
    text-align: center;
}

.nav {
    list-style-type: none;
}

.sticky {
    position: fixed;
}

button {
    background-color: rgb(66, 100, 160);
    color: white;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
    display: inline-block;
    width: 50%;
    white-space: normal;
    word-wrap: break-word;
    margin-bottom: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
}

button:hover {
    background-color: rgb(100, 149, 237);
}

td, th {
    text-align: left;
    padding: 8px;
}

table {
    border-spacing: 0;
}

tbody tr:hover {
    background-color: rgb(100, 100, 100);
    color: rgb(180, 180, 180);
}

table tbody {
    counter-reset: sortabletablescope;
}

table thead tr::before {
    content: "";
    display: table-cell;
}

table tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

table, #outer {
    margin-left: auto;
    margin-right: auto;
}

#outer {
    text-align: center;
}

#inner {
    display: inline-block;
    text-align: left;
}

#condition {
    text-align: center;
    font-style: italic;
}

.navigation-button {
    padding: 1%;
    background-color: green;
    display: inline-block;
}

.navigation-button:hover {
    background-color: limegreen;
}

nav {
    text-align: center;
}